body{
  text-align: center;
  font-family: verdana;
  background-color: black;
  color: white
}
h1{
  font-size: 50px
  font-weight: Normal;
}
h2{
  font-size: : 42px
  font-weight: 300;
}
p{
  color: grey;
}
a{
  color: Aquamarine;
  font-size: 16px
}
.footer{
  text-align: right;
}
